<aside class="app-annotation-sidebar" aria-label="Annotations">
  <div class="app-annotation-sidebar__inner js-sidebar-inner">
    {% include "_includes/review/annotation-sidebar-inner.njk" %}
  </div>
</aside>
