{% set documentBasePath = documentBasePath or ('/cases/' + caseId + '/review/documents/' + documentId) %}

<div class="app-toolbar js-toolbar">
  <div class="app-toolbar__inner">
    <div class="govuk-button-group">
      <form
        method="post"
        action="{{ documentBasePath }}/mark-reviewed"
      >
        {{ govukButton({ text: "Mark as completed" }) }}
      </form>
      <form
        method="post"
        action="{{ documentBasePath }}/save-progress"
      >
        {{ govukButton({ text: "Finish later", classes: "govuk-button--secondary" }) }}
      </form>
      {% if accordionToggleAll %}
        <button type="button" class="govuk-button govuk-button--secondary js-accordion-toggle-all" aria-expanded="false">
          Show all material
        </button>
      {% endif %}
      {# {{ govukButton({ text: "Mark as unused", classes: "govuk-button--secondary", href: "#" }) }} #}
      {# {{ govukButton({ text: "Add case summary note", classes: "govuk-button--secondary", href: "#" }) }} #}
      {# {{ govukButton({ text: "Add information request", classes: "govuk-button--secondary", href: "#" }) }} #}
      {# {{ govukButton({ text: "Link to witness or victim", classes: "govuk-button--secondary", href: "#" }) }} #}
    </div>
  </div>
</div>
