<div class="app-toolbar js-toolbar">
  <div class="app-toolbar__inner">
    <div class="govuk-button-group">
      {{ govukButton({ text: "Return to materials", href: "/cases/" + caseId + "/documents" }) }}
    </div>
  </div>
</div>
