{% extends "_layouts/main.html" %}
{% set navId = 'cases' %}

{% block beforeContent %}
  {{
    govukBackLink({
      text: 'Back',
      href: "/cases/" + _case.id + "/review"
    })
  }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">{{ _case.reference }}</span>

      {% if notes.length %}
        <h1 class="govuk-heading-l">Check if you want to add an information request</h1>

        <div class="govuk-!-margin-bottom-6">
          {% for group in materialGroups %}
            <h2 class="govuk-heading-m {% if not loop.first %}govuk-!-margin-top-6{% endif %}">
              {{ group.material.name }}
            </h2>

            {% for note in group.notes %}
              <div class="app-review-annotation-card app-review-annotation-card--orange">
                <div class="app-review-annotation-card__header app-annotation-card__tag--orange">
                  <p class="govuk-!-margin-bottom-0">Information request note</p>
                </div>
                <div class="app-review-annotation-card__body">
                  <p>‘{{ note.selectedText | truncate(80) }}’</p>
                  <p class="app-review-annotation-card__label">Note</p>
                  <p class="govuk-!-margin-bottom-0">{{ note.note }}</p>
                </div>
              </div>
            {% endfor %}
          {% endfor %}
        </div>
      {% endif %}

      <form method="post">
        {{ govukRadios({
          name: "wantsInformationRequest",
          fieldset: {
            legend: {
              text: "Do you want to request information?",
              isPageHeading: not notes.length,
              classes: "govuk-fieldset__legend--l" if not notes.length else "govuk-fieldset__legend--m"
            }
          },
          value: informationRequest.wantsInformationRequest,
          items: [
            { value: "yes", text: "Yes" },
            { value: "no", text: "No" }
          ]
        }) }}

        {{ govukButton({ text: "Continue" }) }}
      </form>
    </div>
  </div>
{% endblock %}
