{% macro annotationElementGroups(groups, marginTop) %}
  {% for group in groups %}
    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-1{{ ' govuk-!-margin-top-3' if marginTop and loop.first }}">
      {% for element in group.elements %}
        <li>{{ element.description }}</li>
      {% endfor %}
    </ul>
    <p class="govuk-!-font-size-16 govuk-!-margin-bottom-{{ '0' if loop.last else '4' }}">
      {{ group.charge.description }}
    </p>
  {% endfor %}
{% endmacro %}
