{% macro annotationElementGroups(groups, marginTop) %}
  {% for group in groups %}
    <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-1{{ ' govuk-!-margin-top-3' if marginTop and loop.first }}">
      {{ group.charge.description }}
    </p>
    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-{{ '0' if loop.last else '4' }}">
      {% for element in group.elements %}
        <li>
          {{ element.description }}
          {% if element.reasoning %}
            <br><span class="govuk-hint govuk-!-margin-bottom-0">{{ element.reasoning }}</span>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endfor %}
{% endmacro %}
