<div class="app-review-annotation-card app-review-annotation-card--{{ params.typeColour }}">
  <div class="app-review-annotation-card__header app-annotation-card__tag--{{ params.typeColour }}">
    <p class="govuk-!-margin-bottom-0">{{ params.item.documentName }}</p>
    <p class="govuk-!-margin-bottom-0">
      <a
        href="/cases/{{ params.caseId }}/review/documents/{{ params.item.documentId }}#annotation-{{ params.item.id }}"
        class="govuk-link govuk-link--no-visited-state"
      >
        Change
        <span class="govuk-visually-hidden">annotation</span>
      </a>
    </p>
  </div>
  <div class="app-review-annotation-card__body">
    {% if params.item.selectedText == 'Whole photo' %}
      <img
        src="/public/images/evidence-photo-placeholder.jpg"
        alt="{{ params.item.documentName }}"
        class="app-review-annotation-card__photo"
      />
    {% elif params.item.timestampSeconds != null %}
      {% if params.item.documentType == 'MP3' %}
        <audio
          src="/public/audio/999-call-placeholder.mp3#t={{ params.item.timestampSeconds }}"
          class="app-review-annotation-card__audio"
          controls
        ></audio>
      {% else %}
        <video
          src="/public/videos/cctv-placeholder.mp4#t={{ params.item.timestampSeconds }}"
          class="app-review-annotation-card__video"
          controls
        ></video>
      {% endif %}
      <p class="app-review-annotation-card__label">Timestamp</p>
      <p>{{ params.item.selectedText }}</p>
    {% else %}
      <p>‘{{ params.item.selectedText | truncate(80) }}’</p>
    {% endif %}

    {% if params.item.addedByName %}
      <p class="govuk-!-font-size-16">
        {{ params.item.addedByName }},
        <time datetime="{{ params.item.createdAt }}">{{ params.item.createdAt | isoDateString | govukDateTime }}</time>
      </p>
    {% endif %}
  </div>
</div>
