{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}
{% from "_components/header/macro.njk" import appHeader %}
{% from "_components/address/macro.njk" import appAddress %}
{% from "_components/checkbox-filter/macro.njk" import appCheckboxFilter %}
{% from "_components/value/macro.njk" import appValue %}
{% from "_components/button-menu/macro.njk" import appButtonMenu %}
{% from "_components/identity-bar/macro.njk" import appIdentityBar %}
{% from "_components/activity-log-item/macro.njk" import appActivityLogItem %}
{% from "_components/annotation-card/macro.njk" import appAnnotationCard %}
{% from "_components/notification-banner-pinned/macro.njk" import appNotificationBannerPinned %}

{% block header %}
  {% include "_includes/header.njk" %}
  {% include "_includes/navigation.njk" %}
  {% if _case %}
    {{ appNotificationBannerPinned({
      titleText: "Case locked as 1 user is editing with 2 users viewing",
      html: "
        <h3 class=\"govuk-notification-banner__heading\">Someone else is editing this case</h3>
        <h4 class=\"govuk-heading-s\">Witnesses</h4>
        <p class=\"govuk-body\"><a class=\"govuk-notification-banner__link\" href=\"#\">Oliver.del-staff@cps.gov.uk</a> has been editing this section since 3.38pm on 21 September 2026.</p>
        <p class=\"govuk-body\">Contact them and ask them to stop editing before you make changes.</p>
        <h3 class=\"govuk-notification-banner__heading\">Other people viewing this case</h3>
        <h4 class=\"govuk-heading-s\">Witnesses</h4>
        <p class=\"govuk-body\"><a class=\"govuk-notification-banner__link\" href=\"#\">Alice.bennett@cps.gov.uk</a> has been viewing this section since 3.29pm on 21 September 2026.</p>
        <h4 class=\"govuk-heading-s\">Defendants</h4>
        <p class=\"govuk-body\"><a class=\"govuk-notification-banner__link\" href=\"#\">Arthur.stone@cps.gov.uk</a> has been viewing this section since 3.15pm on 21 September 2026.</p>
      "
    }) }}
  {% endif %}
{% endblock %}

{% block footer %}
	{% include "_includes/footer.njk" %}
{% endblock %}

{% block pageScripts %}
  {{ super() }}
  <script>
    var App = {}
  </script>
  <script src="/public/javascripts/components/account-navigation.js"></script>
  <script src="/public/javascripts/components/filter-toggle-button.js"></script>
  <script src="/public/javascripts/components/list-filter.js"></script>
  <script src="/public/javascripts/components/button-menu.js"></script>
  <script src="/public/javascripts/components/text-expander.js"></script>
  <script src="/public/javascripts/components/checkbox-selector.js"></script>
  <script src="/public/javascripts/components/notification-banner-pinned.js"></script>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script>
    var $header = document.querySelector('[data-module="app-header"]')
    if ($header) {
      new App.AccountNavigation($header)
    }

    new App.NotificationBannerPinned({
      container: $('.app-notification-banner-pinned')
    })
  </script>
  {% include "_includes/case/identity-bar-scripts.njk" %}
{% endblock %}
