{%- from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

<div class="app-notification-banner-pinned" data-module="app-notification-banner-pinned">
  {{ govukNotificationBanner(params) }}
</div>
