<div class="app-document-pane">
  <div class="app-document app-document--audio">
    <div
      class="app-document__content"
      id="document-content-{{ documentId }}"
      data-case-id="{{ caseId }}"
      data-document-id="{{ documentId }}"
    >
      {% if isReviewMode %}
        <div class="app-audio-annotation-actions govuk-button-group govuk-!-margin-bottom-0">
          {{
            govukButton({
              text: "Add note",
              classes: "govuk-button--secondary js-audio-annotate-btn",
              type: "button",
              attributes: { "data-type": "note" }
            })
          }}
          {% if offences.length %}
            {{
              govukButton({
                text: "Mark as evidence",
                classes: "govuk-button--secondary js-audio-annotate-btn",
                type: "button",
                attributes: { "data-type": "evidence" }
              })
            }}
          {% endif %}
          {% if offences.length %}
            {{
              govukButton({
                text: "Add anticipated issue",
                classes: "govuk-button--secondary js-audio-annotate-btn",
                type: "button",
                attributes: { "data-type": "issue" }
              })
            }}
          {% endif %}
          {{
            govukButton({
              text: "Add information request note",
              classes: "govuk-button--secondary js-audio-annotate-btn",
              type: "button",
              attributes: { "data-type": "information-request" }
            })
          }}
        </div>
      {% endif %}

      <audio id="document-audio-{{ documentId }}" class="app-document__audio" src="{{ audioUrl }}" controls></audio>
    </div>
  </div>
</div>
